<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HTML5 Banner Template</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body style="padding:0;margin:0">
    <!--build:lib(./) js/phaser.js-->
    <!-- <script src="bower_components/phaser/build/phaser.js"></script> -->
    <!-- endbuild -->


    <div id="banner">
        <div id="frames">
            <div id="frame_1" class="frame">
                <div class="intro_text">Hello welcomes</div>
                <div class="main_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </div>
    </div>


    <!-- For webpack -->
    <div id="app"></div>

	<script src="libs/flashtalking.js"></script>
    <!--build:js js/main.js-->
    <script type="text/javascript" src="libs/jquery.js"></script>
    <script type="text/javascript" src="libs/tweenmax.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
